ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.usersList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
}
